{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset('styles/feed.css') }}" rel="stylesheet"/>
{% endblock %}


{% block body %}

	{% include('/components/navbar.html.twig') %}
	<div id="publications">
		<div id="new_publication">
			<button type="button" class="btn btn-primary">
				<a href="/new_publication" style="color: white;">
					New publication
				</a>
			</button>
		</div>
		<div id="feed_scroll">
			{% for publication in allPublications %}
				<div class="publication_card">
					<div class="publication_header">
						<p class="card-text">{{ publication.userId.email }}</p>
					</div>
					<div class="publication_body">
						<h5 class="card-title">{{ publication.title }}</h5>
						<p class="card-text">{{ publication.content }}</p>
					</div>
					<div class="publication_image_div">
						<img src="{{ asset('images/publication_images/' ~ publication.publicationImages[0].image) }}" class="publication_image" alt="...">
					</div>
					<div class="publication_options">
						<img src="{{ asset('images/website_images/like.png') }}" class="publication_icon" alt="...">
						<img src="{{ asset('images/website_images/comment.png') }}" class="publication_icon" alt="...">
					</div>
				</div>
			{% endfor %}
			<button type="button" class="btn btn-primary">Load more</button>
		</div>
	</div>
	<div id="feed_suggestion"></div>
{% endblock %}
